body {
  font-family: monospace;
}

form {
  background-color: black;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
}

.submit_button {
  margin: 5px;
  background-color: #16F529;
  color: black;
}
label {
  margin: 5px;
  padding: 5px;
}
input {
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
  background-color: inherit;
  color: inherit;
  border-color: #16F529;
  border-width: 0.1%; /* ig this is the new meta */
}

input:focus {
  outline-color: #16F529;
}