@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@300..700&display=swap');
body {
  color: navy;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

#top-banner {
  background-color: navy;
  width: 100%;
  top: 0;
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: stretch;
  margin: 0;
}

#top-banner h2 {
  flex-grow: 1;
  font-size: 3.6rem;
  background-color: navy;
  color: white;
  border: 4px solid navy;
  border-radius: 1.6rem;
  padding: 0.4rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#top-banner h2:hover {
  background-color: white;
  color: navy;
}

#flavors {
  display: flex;
  flex-direction: row;
}

#usuals {
  display: flex;
  flex-direction: row;
}

#weeklys {
  display: flex;
  flex-direction: row;
}

#usuals span, #weeklys span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#flavors div span h1{
  font-size: 4.8rem;
}