@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@300..700&display=swap');
body {
  color: navy;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

#top-banner {
  background-color: navy;
  width: 100%;
  top: 0;
  padding: 16rem;
  display: flex;
  flex-direction: row;
  color: white;
}

#top-banner h2 {
  font-size: 24rem;
  background-color: navy;
  color: white;
  border: 4px solid navy;
  padding: 4rem;
}

#top-banner h2:hover {
  background-color: white;
  color: navy;
}