#gameboard {
  border: 1px solid;
}

td {
  padding: 8px;
  text-align: center;
  aspect-ratio: 1 / 1 ;
}
td .content {
  aspect-ratio: 1 / 1 ;
}

td:hover {
  background-color: coral;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;  
}

.on {
  background-color: red;
}
