html, body {
  margin: 0;
  height: 100%;
  font-family: "Lucida Console", "Courier New", monospace;
}

#gameboard {
  display: grid;
  width: 100vw;
  height: 100vh;
}

td {
  padding: 4px;
  background-color: #f0f0f0;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

td:hover {
  background-color: coral;
}

.on {
  background-color: red;
}
