#gameboard {
  border: 1px solid;
  width: 50%;
}

td {
  padding: 8px;
  text-align: center;
}

td:hover {
  background-color: coral;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;  
}

.on {
  background-color: red;
}
