.madebyothers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: none;
  border: none;
}
.madebyme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: none;
  border: none;
}