.madebyothers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: none;
  border: none;
}
.madebyme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: none;
  border: none;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
}

#bio_container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -2px;
  width: 30%;
  border: solid;
  border-width: 2px;
  border-color: inherit;
  overflow-y: auto;
  box-sizing: border-box;
}

#bio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 90%;
  padding: 5%;
}

#bio p {
  font-size: 18px;
}

#contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

#contacts p {
  font-size: 14px;
  color: white;
}