button:hover {
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
  background-color: black;
  color:white;
}

button {
  font-family: inherit;
  padding: 10px 24px;
  background-color: LightGray;
  color: black;
  border: none;
  border-radius: 12px;
  transition-duration: 0.4s;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;  
}
