body {
  background-color: black;
  color: #16F529;
  font-size: 16px;
}
input {
  font-family: inherit;
  border: none;
  background-color: black;
  color: #16F529;
  width: 100%;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.prompt label,
.prompt input {
  display: inline-block; /* Makes elements display side-by-side */
  vertical-align: middle; /* Aligns them vertically in the center */
}
