#buttons {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#buttons button {
    border-radius: 1.0rem;
}

#received_messages p{
    border-radius: 1.0rem;
    width: fit-content;
    max-width: 90%;
    padding: 1.0rem;
    margin: 0.5rem 2.0rem;
}
#received_messages p.received{
    background-color: black;
    border: 2px solid white;
    color: white;
    align-self: flex-start;
}
#received_messages p.sent{
    background-color: white;
    color: black;
    border: 2px solid black;
    align-self: flex-end;
}

#received_messages {
    position: fixed;
    bottom: 10.0rem; 
    right: 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    z-index: -1;
    overflow-y: auto;
    height: 80%;
}

#dm_form {
    position: fixed;
    bottom: 5%;
    right: 0;
    margin: 1.0 3.0;
    border-top: 1px solid white; 
}

#dm_form input {
    border: 2px solid black;
    border-radius: 1.0rem;
    padding: 1.0rem;
    width: fit-content;
    min-width: 20.0rem;
    max-width: 90%;
}

#dm_form input:focus {
    outline: none;       
    border-color: black;  
    box-shadow: none;    
}

#dm_form button {
    border: 2px solid black;
    border-radius: 1.0rem;
    background-color: white;
    color: black;
}