* {
    box-sizing: border-box;
}

#top {
    flex-direction: row;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}


#to_form {
    margin: 1.0rem 3.0rem;
    border-bottom: 1px solid white;
    height: 8%;
}

#to_form input {
    border: 2px solid black;
    border-radius: 0.8rem;
    padding: 0.8rem;
    width: fit-content;
    min-width: 15.0rem;
    max-width: 90%;
}

#to_form input:focus {
    outline: none;       
    border-color: black;  
    box-shadow: none;    
}

#to_form button {
    border: 2px solid black;
    border-radius: 1.0rem;
    background-color: white;
    color: black;
}

#to_form button:hover {
    border-color: white;
    background-color: black;
    color: white;
    box-shadow: 0 0 0.4rem 0.8rem #16f5298a;
}

#container {
    display: flex;
    flex-direction: row;
    margin-top: 10.0rem;
    position: fixed;
    bottom: 13%;
    height: 80%;
    width: 100%;
}

#buttons {
    flex: 20;
    display: flex;
    flex-direction: column;
    z-index: 2;
    min-height: 0;
    overflow-y: auto;
}

#buttons button {
    border-radius: 1.0rem;
    width: fit-content;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

#received_messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 80;
}

#received_messages p{
    border-radius: 1.0rem;
    width: fit-content;
    max-width: 90%;
    padding: 1.0rem;
    margin: 0.5rem 2.0rem;
}
#received_messages p.received{
    margin-right: 10%;
    background-color: black;
    border: 2px solid white;
    color: white;
    align-self: flex-start;
}
#received_messages p.sent{
    margin-left: 10%;
    background-color: white;
    color: black;
    border: 2px solid black;
    align-self: flex-end;
}

#dm_form {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.0rem 3.0rem;
    border-top: 1px solid white;
    height: 10%;
}

#dm_form input {
    border: 2px solid black;
    border-radius: 1.0rem;
    padding: 1.0rem;
    width: fit-content;
    min-width: 20.0rem;
    max-width: 90%;
}

#dm_form input:focus {
    outline: none;       
    border-color: black;  
    box-shadow: none;    
}

#dm_form button {
    border: 2px solid black;
    border-radius: 1.0rem;
    background-color: white;
    color: black;
}

@media (max-width: 48rem) {
 
}