#received_messages p{
    border-radius: 20%;
    color: white;
    width: fit-content;
}
#received_messages p.received{
    background-color: grey;
    left: 0;
}
#received_messages p.sent{
    background-color: #16F529;
    right: 0;
}