#table {
  display: inline-block;
  width: 60%
}

#info {
  font-size: 1.6rem;
  margin: 1.6rem;
  display: inline-block;
  width: 30%;
  border: 3px solid #16F529;
  background-color: black;
}

.element[id] {
  border: 4px solid black;
  background-color: rgb(48, 48, 87);
  color: white;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.element:not([id]) {
  border: 4px solid transparent;
  background-color: transparent;
}

.element {
  width: calc(100%/18);
  aspect-ratio: 1 / 1 ;
  padding: 0.5rem;
}

.element[id]:hover {
  background-color: black;
  color: #16F529;
}

.symbol {
  font-size: 2.4rem;
}

.element.diatomic_nonmetal {
  background-color: aqua;
  color: black;
}

.element.alkali_metal {
  background-color: #FFFF00;
  color: black;
}

.element.alkaline_earth_metal {
  background-color: #BF00FF;
  color: white;
}

.element.transition_metal {
  background-color: #16F529;
  color: black
}

.element.post-transition_metal {
  background-color: #B44F34;
  color: white;
}

.element.metalloid {
  background-color: #0033FF;
  color: white;
}

.element.noble_gas {
  background-color: #FD1C03;
  color: white;
}
