  .gifs {
    top: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 2rem;
  }

.madebyothers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: none;
}
.madebyme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: none;
}

.bigred {
  height: 6.0rem;
  width: 6.0rem;
  background-color: red;
  border-color: white;
  border-radius: 50%;
}

.bigred:active {
  background-color: darkred;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
}

#bio_container {
  background-color: black;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  bottom: -2px;
  top: auto;
  right: 0px;
  left: 0px;
  width: 100%;
  border: solid;
  border-width: 2px;
  border-color: inherit;  
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
  transform: translateY(calc(100% - 5rem));
}

#bio_container.open {
  transform: translateY(0);
}



#bio_container #drag {
  box-sizing: border-box;
  width: 6rem;
  height: 5rem;
  left: 0px;
  right: 0px;
  rotate: 270deg;
  font-size: 3.0rem;
  border: solid;
  border-color: inherit;
  padding: 0.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: rotate 0.5s ease-in-out;
}

#bio_container #drag.open {
  rotate: 90deg;
}

#bio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 90%;
  padding: 5%;
}

#bio p {
  font-size: 1.8rem;
}

#contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

#contacts p {
  font-size: 1.4rem;
  color: white;
}

@media (min-width: 48rem) {
  .madebyothers, .madebyme {
    width: 25%;
  }
  .button-group {
    flex-direction: row;
  }
  #bio_container {
    flex-direction: row;
    top: 0px;
    bottom: 0px;
    right: -2px;
    width: 30%;
    left: auto;
    transform: translateX(calc(100% - 6rem));
  }

  #bio_container.open {
    transform: translateX(0);
  }

  #bio_container #drag {
    rotate: 180deg;
    top: 0px;
    bottom: 0px;
    transition-duration: 0.5s;
  }

  #bio_container #drag.open {
    rotate: 0deg;
  }
}