#choices {
	display: flex;
	flex-direction: column;
	background-color: #F08080;
	color: white;
	padding: 5.0rem;
	margin: 10.0rem;
}

#choices span {
	display: flex;
	flex-direction: row;
	border: 4px solid white;
}

#choices span h2 {
	font-size: 3.6rem;	
}

#choices span p {
	font-size: 2.0rem;
}