#gameboard {
  border: 1px solid;
  width: 50%;
}

td {
  background-color: white;
  transition: background-color 0.5s;
  padding: 8px;
  text-align: center;
}

td:hover {
  background-color: coral;
}

.on {
  background-color: red;
}
