#gameboard {
  border: 1px solid;
  width: 50%;
}

td {
  background-color: inherit;
  transition: background-color 0.1s;
  padding: 8px;
  text-align: center;
}

td:hover {
  background-color: #16F529;
}

.on {
  background-color: white;
}
